@charset "ISO-8859-1";

#customerMenuBarDiv{
background: gainsboro;	
width: 11.1%;
margin-left:41%;
margin-top:3%;
}

#customerMenuBarDiv li{
	padding:15px;
	display:inline-block; 	
	
}

#customerMenuBarDiv li:hover{
	color:steelblue 	
	
}

.tableData td:hover {
	color:steelblue;
	cursor: pointer;
}

.menuLi{
	float:left;
	color:black;
}

#customerMenuBar {
	padding:0px;	
}

#home{
	margin-left: 300px;
}

#workoutResults{
	margin-left: 435px;
	margin-top: 20px;
}

#addFeedback {
	margin-left: 435px;
}

#workoutResults table, #workoutExercises table {
	font-size:13px;
	text-align:center;
	border:1px solid black;
}

#workoutResults th, #workoutResults td, #workoutExercises th, #workoutExercises td{
	width: 150px;
	border:1px solid black;
}