@charset "ISO-8859-1";

body{
	margin:0px;
	font-family: Arial;
}

#formDiv {
	margin-top:10%;
	margin-left: 40%;
}
#topHeaderDiv {
	width:100%;
	height:40px; 
	color:white;
	background:lightskyblue; 
	text-align:center;
	line-height: 40px
}

tr.trainerTableRow:hover{
	color:steelblue;
	cursor:pointer;
}

#trainerTableRowSelected{
	background-color:gainsboro;
}


 #logoutLink {
	float:right;
	padding-top:10px;
	padding-right:10px
}

#topHeader {
	list-style-type: none;
	margin:0px;
}

#weclcomeLi{
	float:left;
	padding-top:10px
}

#menuBar{
	list-style-type: none;
	padding-left: 0px;

}



#menuBarDiv{
background: gainsboro;	
width: 40%;
margin-left:27.5%;
margin-top:3%;
}

#menuBarDiv li{
	padding:15px;
	display:inline-block; 	
	
}

.menuLi{
	float:left;
	color:black;
}

#addManager, #addCustomer, #addMachine {
		margin-left: 170px;
		display:none;
	
}

#addTrainer {
	margin-left: 167px
}

.addButtons a{
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

#searchManagerInput {
	margin-left: 705px;
}

#searchCustomerInput {
	margin-left: 832px;
}

.searchManager, .searchCustomer {
	display: none;
}

#searchTrainerInput{
	margin-left:280px;
}

/*********************** all results tables *********************/
#trainerResults {
	margin-left:165px;
	margin-top: 20px;
	display:none;
	
}

#trainerResults table {
	font-size:13px;
	text-align:center;
	border:1px solid black;
}

 #trainerResults th, #trainerResults td {
	width: 150px;
	border:1px solid black;
	
}

#trainerResults tr {
	height: 45px;
}

#managerResults {
	margin-left:165px;
	margin-top: 20px;
	display:none;
	
}

#managerResults table {
	font-size:13px;
	text-align:center;
	border:1px solid black;
}

 #managerResults th, #managerResults td {
	width: 150px;
	border:1px solid black;
	
}

#managerResults tr {
	height: 45px;
}

#customerResults {
	margin-left:165px;
	margin-top: 20px;
	display:none;
	
}

#customerResults table {
	font-size:13px;
	text-align:center;
	border:1px solid black;
}

 #customerResults th, #customerResults td {
	width: 130px;
	border:1px solid black;
	
}

#customerResults tr {
	height: 50px;
}

#inventoryResults {
	margin-left:165px;
	margin-top: 20px;
	display:none;
	
}

#inventoryResults table {
	font-size:13px;
	text-align:center;
	border:1px solid black;
}

 #inventoryResults th, #inventoryResults td {
	width: 150px;
	border:1px solid black;
	
}

#inventoryResults tr {
	height: 45px;
}


/**************add manager, customer modal ****/
#managerFirstNameDiv, #managerEmailDiv, #managerStreetDiv, #managerStateDiv, #managerUserNameDiv, #managerHealthInuranceDiv,
#customerFirstNameDiv, #customerEmailDiv, #customerStreetDiv , #customerStateDiv, #customerHealthInuranceDiv{
	/* float:left; */
	
}

.managerInputDiv, .customerInputDiv, .machineInputDiv{
	padding-bottom: 3px;
}

.managerInput, .customerInput {
	width: 198px;
}

.modal a {
	text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

#createManagerButton, #createCustomerButton, #editCustomerButton {
	margin: 0px;

	
}

#createCustomerHeader, #editCustomerHeader, #createCustomerButton, #editCustomerButton {
	display:none
}

#confirmManagerPasswordDiv, #customerMembershipDiv{
	padding-bottom: 10px;
}
