@charset "ISO-8859-1";

body{
	margin:0px;
	font-family: Arial;
}

#formDiv {
	margin-top:10%;
	margin-left: 40%;
}
#topHeaderDiv {
	width:100%;
	height:40px; 
	color:white;
	background:lightskyblue; 
	text-align:center;
	line-height: 40px
}


 #logoutLink {
	float:right;
	padding-top:10px;
	padding-right:10px
}

#topHeader {
	list-style-type: none;
	margin:0px;
}

#weclcomeLi{
	float:left;
	padding-top:10px
}

#menuBar{
	list-style-type: none;
	padding-left: 0px;

}



#menuBarDiv{
background: gainsboro;	
width: 40%;
margin-left:19.8%;
margin-top:3%;
}

#menuBarDiv li{
	padding:15px;
	display:inline-block; 	
	
}

.menuLi{
	float:left;
	color:black;
}

.addButtons {
		margin-left: 300px;
		display:none;
	
}

.addButtons a{
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

/*********************** all results tables *********************/
#trainerResults {
	margin-left:300px;
	margin-top: 20px;
	display:none;
	
}

#trainerResults table {
	font-size:13px;
	text-align:center;
	border:1px solid black;
}

 #trainerResults th, #trainerResults td {
	width: 150px;
	border:1px solid black;
	
}

#trainerResults tr {
	height: 45px;
}

#managerResults {
	margin-left:300px;
	margin-top: 20px;
	display:none;
	
}

#managerResults table {
	font-size:13px;
	text-align:center;
	border:1px solid black;
}

 #managerResults th, #managerResults td {
	width: 150px;
	border:1px solid black;
	
}

#managerResults tr {
	height: 45px;
}

#customerResults {
	margin-left:300px;
	margin-top: 20px;
	display:none;
	
}

#customerResults table {
	font-size:13px;
	text-align:center;
	border:1px solid black;
}

 #customerResults th, #customerResults td {
	width: 150px;
	border:1px solid black;
	
}

#customerResults tr {
	height: 45px;
}

#inventoryResults {
	margin-left:300px;
	margin-top: 20px;
	display:none;
	
}

#inventoryResults table {
	font-size:13px;
	text-align:center;
	border:1px solid black;
}

 #inventoryResults th, #inventoryResults td {
	width: 150px;
	border:1px solid black;
	
}

#inventoryResults tr {
	height: 45px;
}


/**************add manager, customer modal ****/
#managerFirstNameDiv, #managerEmailDiv, #managerStreetDiv, #managerStateDiv, #managerUserNameDiv,
#customerFirstNameDiv, #customerEmailDiv, #customerStreetDiv , #customerStateDiv, #customerHealthInuranceDiv,
#editManagerFirstNameDiv, #editManagerUserNameDiv, #editManagerEmailDiv, #editManagerStreetDiv, #editManagerStateDiv{
	float:left;
	
}

.managerInputDiv, .customerInputDiv{
	padding: 10px;
}

.managerInput, .customerInput {
	width: 198px;
}

.modal a {
	text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

#createManagerButton, #editManagerButton {
	margin: 10px;
	
}
