@charset "ISO-8859-1";

#home {
	display: block;
	margin-left: 10%
}

#customerTable, #exerciseResults  {
	display: none;
	margin-left:165px;
	margin-top: 20px;
}

#workoutResults {
	margin-left:390px;
	margin-top: 20px;
}

#createWorkoutButton {
	display: none;
	margin-left: 395px;
}

#customerTable table, #exerciseResults table, #workoutResults table {
	font-size:13px;
	text-align:center;
	border:1px solid black;
}

#workoutExercises table{
	font-size:13px;
	text-align:center;
	border:1px solid black;
}

#customerTable th, #customerTable td, #exerciseResults th, #exerciseResults td, #workoutResults th, #workoutResults td,
#workoutExercises th, #workoutExercises td{
	width: 150px;
	border:1px solid black;
	
}

#customerTable tr, #exerciseResults tr, #workoutResults tr {
	height: 45px;
}

.trainerSearchCustomers {
	display:none
}


#trainerSearchCustomerButton {
	margin-left: 166px
}

.exerciseRow:hover{
	color:steelblue;
	cursor:pointer;
}

#selectedExerciseRow{
	background-color:gainsboro;
}