@charset "ISO-8859-1";

#home {
	display: block;
	margin-left: 10%
}

#addExercise {
	margin-left: 410px;
}
#searchExerciseBox {
	width: 165px;
}

#customerTable  {
	display: none;
	margin-left:100px;
	margin-top: 20px;
}

#exerciseResults {
	display: none;
	margin-left:410px;
	margin-top: 20px;
}
#workoutResults {
	margin-left:480px;
	margin-top: 20px;
}

#createWorkoutButton {
	display: none;
	margin-left: 395px;
}

#searchWorkoutInput {
	width: 200px;
}

#addExerciseToWorkout, #addExerciseToEditedWorkout {
	margin: 6px 0px 6px 0px
}

#customerTable table, #exerciseResults table, #workoutResults table {
	font-size:13px;
	text-align:center;
	border:1px solid black;
}

#workoutExercises table, #editWorkoutExercises, #addWorkoutExercisesTable{
	font-size:13px;
	text-align:center;
	border:1px solid black;
}

#customerTable th, #customerTable td, #exerciseResults th, #exerciseResults td, #workoutResults th, #workoutResults td,
#workoutExercises th, #workoutExercises td, #editWorkoutExercises th, #editWorkoutExercises td, #addWorkoutExercisesTable th,
#addWorkoutExercisesTable td{
	width: 150px;
	border:1px solid black;
	
}

#customerTable tr, #exerciseResults tr {
	height: 45px;
}

#workoutResults tr, #editWorkoutExercises tr {
	height: 30px;
}

#assignWorkoutButton {
	margin-left:100px;
}

.trainerSearchCustomers {
	display:none
}


#trainerSearchCustomerButton {
	margin-left: 780px
}

.exerciseRow:hover{
	color:steelblue;
	cursor:pointer;
}

#workoutResults .tableData:hover{
	color:steelblue;
	cursor:pointer;
}

#selectedExerciseRow{
	background-color:gainsboro;
}