@charset "ISO-8859-1";

#home {
	display: block;
}

#customerTable {
	display: none;
}

#customerTable table {
	font-size:13px;
	text-align:center;
	border:1px solid black;
}

 #customerTable th, #customerTable td {
	width: 150px;
	border:1px solid black;
	
}

#customerTable tr {
	height: 45px;
}

.trainerSearchCustomers {
	display:none
}